Downloads/1TDSG_NR_jointech_AI&Chatbot.json
[{"id":"455f267d.fc92b8","type":"watson-language-translator-identify","z":"d2baa8b2.49eac8","name":"","service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/69888840-45ff-4068-8934-057302ee86b5","x":530,"y":440,"wires":[["e231cd4c.4e8f","199c4b02.8d8f55"]]},{"id":"e231cd4c.4e8f","type":"debug","z":"d2baa8b2.49eac8","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"b48df628.120f38","type":"watson-translator","z":"d2baa8b2.49eac8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"SOIp_F2Othwpyu8g6GQ0F4wCvK58WA2BzmZpYWnPRWS-","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/ce68dc0d-1dae-4a89-bdb4-b45b8a5cf478","x":1070,"y":400,"wires":[["603e5b1e.3e7a34","1d6c4e4f.3fb092"]]},{"id":"5a7c861a.26af78","type":"debug","z":"d2baa8b2.49eac8","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":320,"wires":[]},{"id":"603e5b1e.3e7a34","type":"debug","z":"d2baa8b2.49eac8","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"1d6c4e4f.3fb092","type":"function","z":"d2baa8b2.49eac8","name":"","func":"if (msg.params.texto == msg.payload) {\n    msg.texto = {\n        traduzida: true\n    }\n} else {\n    msg.testo = {\n        traduzida: false\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":440,"wires":[["50e39d08.f68954","def6e4a9.f79e98"]]},{"id":"c9ac0f6a.329d1","type":"switch","z":"d2baa8b2.49eac8","name":"","property":"texto","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":440,"wires":[["b48df628.120f38","5a7c861a.26af78"],["1d6c4e4f.3fb092"]],"outputLabels":["msg.lang.language.pt","msg.lang.language.en"]},{"id":"50e39d08.f68954","type":"debug","z":"d2baa8b2.49eac8","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":280,"wires":[]},{"id":"199c4b02.8d8f55","type":"function","z":"d2baa8b2.49eac8","name":"","func":"if (msg.lang.language == \"pt\") {\n    msg.texto = false;\n} else if (msg.lang.language == \"en\") {\n    msg.texto = true;\n} else {\n    msg.texto = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["c9ac0f6a.329d1","79b2b462.20daec"]]},{"id":"79b2b462.20daec","type":"debug","z":"d2baa8b2.49eac8","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":320,"wires":[]},{"id":"356c50ab.4fd33","type":"function","z":"d2baa8b2.49eac8","name":"ProcIN WT","func":"\nmsg.params = {\n\"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\" \n};\n\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;  \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":440,"wires":[["455f267d.fc92b8"]]},{"id":"bf71bbe7.9f80d8","type":"telegram receiver","z":"d2baa8b2.49eac8","name":"","bot":"c0c21b2f.3e8df8","saveDataDir":"","filterCommands":false,"x":100,"y":440,"wires":[["356c50ab.4fd33"],[]]},{"id":"def6e4a9.f79e98","type":"watson-assistant-v2","z":"d2baa8b2.49eac8","name":"WA ","service-endpoint":"","assistant_id":"09620f6d-272d-4145-9343-4f8c9045e87b","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":true,"x":1470,"y":440,"wires":[["86dd6f2d.bdb2e","63a5ee04.e15d8"]]},{"id":"63a5ee04.e15d8","type":"switch","z":"d2baa8b2.49eac8","name":"","property":"texto","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":440,"wires":[["b8032a46.283548","9ac5ac7d.a20de"],["58ed3a39.f82a14","c25447bc.d6c138"]]},{"id":"7483a594.2d5f6c","type":"function","z":"d2baa8b2.49eac8","name":"","func":"msg.payload = {\ntype: \"message\",\ncontent: msg.payload,\nchatId: msg.params.session_id\n\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":440,"wires":[["fc46b9dc.e56898","58d48fb6.4641b"]]},{"id":"66b5c2e3.c0502c","type":"function","z":"d2baa8b2.49eac8","name":"","func":"var outputMsg = \"\";\nlet imax = msg.payload.output.generic.length;\n\nfor(i=0;i<imax;i++){\n    if (msg.payload.output.generic[i].source){\n        outputMsg += msg.payload.output.generic[i].source +\"\\n\"\n    } else {  \n        outputMsg += msg.payload.output.generic[i].text +\"\\n\"\n    }\n}\nmsg.payload = outputMsg;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":460,"wires":[["7483a594.2d5f6c"]]},{"id":"fc46b9dc.e56898","type":"telegram sender","z":"d2baa8b2.49eac8","name":"","bot":"c0c21b2f.3e8df8","haserroroutput":false,"outputs":1,"x":2590,"y":440,"wires":[["a061a972.53efa8"]]},{"id":"b8032a46.283548","type":"function","z":"d2baa8b2.49eac8","name":"","func":"msg.texto = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":400,"wires":[["32f9d7a4.fc7598","2a8f61a5.49e6be"]]},{"id":"58ed3a39.f82a14","type":"function","z":"d2baa8b2.49eac8","name":"","func":"msg.texto = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":460,"wires":[["2286f892.01b918","66b5c2e3.c0502c"]]},{"id":"32f9d7a4.fc7598","type":"debug","z":"d2baa8b2.49eac8","name":"10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2170,"y":280,"wires":[]},{"id":"2286f892.01b918","type":"debug","z":"d2baa8b2.49eac8","name":"11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":540,"wires":[]},{"id":"86dd6f2d.bdb2e","type":"debug","z":"d2baa8b2.49eac8","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":280,"wires":[]},{"id":"9ac5ac7d.a20de","type":"debug","z":"d2baa8b2.49eac8","name":"9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":280,"wires":[]},{"id":"c25447bc.d6c138","type":"debug","z":"d2baa8b2.49eac8","name":"8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":560,"wires":[]},{"id":"58d48fb6.4641b","type":"debug","z":"d2baa8b2.49eac8","name":"12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2450,"y":280,"wires":[]},{"id":"a061a972.53efa8","type":"debug","z":"d2baa8b2.49eac8","name":"13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":560,"wires":[]},{"id":"2a8f61a5.49e6be","type":"watson-translator","z":"d2baa8b2.49eac8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"SOIp_F2Othwpyu8g6GQ0F4wCvK58WA2BzmZpYWnPRWS-","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/ce68dc0d-1dae-4a89-bdb4-b45b8a5cf478","x":2230,"y":360,"wires":[["7483a594.2d5f6c"]]},{"id":"c0c21b2f.3e8df8","type":"telegram bot","botname":"Traveller","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]